body {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    background-color: lightblue;
}
#background {
    background-color: red;
    min-width: 750px;
    min-height: 750px;
    padding-left: 15%;
    border-radius: 10%;
    border: 2px solid;
}

button {
    width: 100px;
    height: 50px;
}

#btns {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: 0px;
}

#logo {
    width: 500px;
    margin-left: 10%;
}

.grid-container {
    display: grid;
    aspect-ratio: 1;
    height: 600px;
    width: 600px;
    background-color: white;
    border: 2px solid;
}

.grid-container div {
    border: 1px solid black;
}
